.mb-3 {
    background-color: #FFFFFF !important;
    width: 100%
}
.navtitles {
    color: #005ea2 !important;
    font-family: 'Inter', sans-serif;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 16px !important;
    width: 198px;
    height: 24px;
    margin-bottom: 20px;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
  outline: none;
}
.offCanvasnav {
    width: 66% !important
}

.nav-links {
    width: 188px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px;
    text-align: left;
    margin: 0px 20px 35px 10px;
    color: #000000;
}

.blue {
    width: 191px;
    height: 40px;
    background-color: #005EA2;
    border-radius: 8px;
    color: #FFFFFF !important;
    border-width: 1px;
    font-size: 14px !important;
    text-align: center;
    margin: 0 10px;
}