.footerblue {
    height: 470px;
    background-color: #eff8ff;
    display: flex;
    flex-direction: column;
  }


.header-in-footer {
    width: 340px;
    height: 29px;

    margin-top: 60px;
    margin-left: 30px;
    margin-right: 20px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101828;
  }


.supporting-text {
    /* position: absolute; */
    width: 340px;
    height: 57px;
    left: 16px;
    top: 245px;

    margin-top: 20px;
    margin-left: 25px;
    margin-right: 30px;
    margin-bottom: 20px;

  
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  
    color: #667085;
  }

.bluebutton {
    width: 297px;
    height: 44px;
    background-color: #005ea2;
    border-radius: 8px;
    color: #ffffff;
    border-width: 1px;
    font-size: 12px;
    margin: 2px 12px;
  }


.whitebutton {
    width: 297px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #344054;
    border-color: #d0d5dd;
    border-width: 1px;
    font-size: 12px;
    margin: 12px;
  }
 
.footerbuttons{
    margin-top: 90px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.getLeadOut-header {
    width: 340px;
    height: 29px;

    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101828;
  }

.mainfooter {
  background-color: #005EA2;
  height: 400px
}
.whitelogo {
  margin-top: 20px;
  margin-left: 16px;
}
.footer-links {
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.footerlink {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.linebreak {
  width: 344px;
  height: 56px;
  border-top: 1px solid #FFFFFF;
  margin: 0px auto;
}
.socialbuttons {
  margin-right: 110px;
  margin-bottom: 20px;
}