div.topmargin {
    margin-top: 100px;
  }


.page-template {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    padding-left: 0;
    margin-right: 5%;
  }
  

h1.title {
    /* margin-left: 2%; */
    /* position: absolute; */
    width: 335px;
    height: 40px;
    left: 17px;
    top: 0px;
   
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  
    color: #101828;
    /* font-size: 36px;
      font-family: 'Inter', sans-serif;
      font-weight: 700; */
  }

.centered-image {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-top: 50px;
    width: 100%;
    padding-top: 100;
  }
  
.numbered-sections-howToCheck {
    width: 320px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

.number-icon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

.image-size{
      height: 20;
      width: 20;
  }


.information {
    grid-column-start: 2;
    grid-column-end: span col4-end;
    grid-row-start: 1;
    grid-row-end: span row3-end;
  }
  

h1.step1-title {
    width: 279px;
    height: 50px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  
    /* primary black */
  
    color: #101828;
  }

h1.step1-description {
    width: 279px;
    height: 60px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    /* or 26px */
  
    /* secondary text */
  
    color: #475467;
  }


h1.step2-title {
    width: 279px;
    height: 50px;
    padding-top: 15px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  
    /* primary black */
  
    color: #101828;
  }

h1.step2-description {
    width: 279px;
    height: 78px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    /* or 26px */
  
    /* secondary text */
  
    color: #475467;
  }

.headers-howToCheck {
    width: 340px;
    height: 29px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101828;
  }

.lead-pipe-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    padding-top: 15px;
    gap: 10px;
  
    width: 332px;
    height: 140px;
  }

h1.picture-caption-title {
    width: 279px;
    height: 20px;
    line-height: 50px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  
    /* primary black */
  
    color: #101828;
  }

.picture-caption{
    width: 333px;
    height: 46px;
    line-height: 20px;

  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 162%;
    /* or 23px */
  
  
    /* Gray/500 */
  
    color: #667085;
  }
  

h1.picture-caption-title2 {
    width: 290px;
    height: 20px;
    line-height: 50px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  
    /* primary black */
  
    color: #101828;
  }

.header-visualtest {
    width: 340px;
    height: 29px;
    padding-top: 40px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #101828;
  }

#checkboxes-image{
      padding-top: 20px
  }