div.topmargin {
  margin-top: 100px;
}


.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}




.alltext {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 287px;
  height: 179px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.text {
  width: 287px;
  height: 56px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* Gray/900 */

  color: #101828;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.supporting-text {
  /* position: absolute; */
  width: 340px;
  height: 57px;
  left: 16px;
  top: 245px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  color: #667085;
}

.datapic {
  /* Data analysis with monitor, graphs, and magnifier */

  width: 282px;
  height: 174px;

  /* background: url(.png); */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.featured-icon {
  width: 39px;
  height: 39px;

  /* accent color 2 */

  background: #e0f2fe;
  /* accent color 1 */

  border: 6px solid #eff8ff;
  border-radius: 28px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.number {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
}

.number-detail {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.youngpeople {
  width: 239px;
  height: 205px;

  /* background: url(.png); */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.headers {
  width: 340px;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #101828;
}

.image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 332px;
  height: 140px;
}

.numbered-sections {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.numbered-sections-long {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.numbered-sections-small {
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-2 {
  grid-column-start: 2;
  grid-column-end: span col4-end;
  grid-row-start: 1;
  grid-row-end: span row3-end;
}

.item-3 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: span row7-end;
}

.item-2-pic {
  grid-column-start: 2;
  grid-column-end: span col4-end;
  grid-row-start: 2;
  grid-row-end: span row3-end;
}

h1.title {
  /* margin-left: 2%; */
  /* position: absolute; */
  width: 335px;
  height: 40px;
  left: 17px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #101828;
  /* font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700; */
}

h1.feature-text-top {
  width: 279px;
  height: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  /* primary black */

  color: #101828;
}

h1.feature-text-bottom {
  width: 279px;
  height: 78px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  /* or 26px */

  /* secondary text */

  color: #475467;
}

h1.feature-text-bottom-2 {
  width: 348px;
  height: 78px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  /* or 26px */

  /* secondary text */

  color: #475467;
}


.picture-caption{
  width: 333px;
  height: 46px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 162%;
  /* or 23px */


  /* Gray/500 */

  color: #667085;
}


.page-template {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%;
  padding-left: 0;
  margin-right: 5%;
}

div.pictures-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

h2.smaller-title {
  font-size: 50px;
  margin-top: 10%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  /* z-index:1000; */
}

.footerblue {
  height: 470px;
  background-color: #eff8ff;
  display: flex;
  flex-direction: column;
}

.addborder {
  border: 5px solid black;
}

div.rounded-border {
  border: 1px solid grey;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.footer-links {
  text-decoration: none;
  color: black;
}
