#landingpage {
  margin-top: 60px;
}

#landingoverlay {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(227, 227, 227, 0.5), rgba(227, 227, 227, 0.5)), url("https://res.cloudinary.com/adelaney923/image/upload/v1661372495/IMG_0033_1_jhmvfd.png");
  /* background-color: rgba(227, 227, 227, 0.7); */
  /* z-index: 1; */
}
.overlay1, .overlay2, .overlay3 {
    position: absolute;
     top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 60%;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 12px;
    text-align: left;
    font-family: 'Inter', sans-serif;
}
.overlayimg {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.overlayheader {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}
.overlaytext {
    font-size: 14px;
    line-height: 20px;
}
.bluebutton {
    width: 297px;
    height: 44px;
    background-color: #005EA2;
    border-radius: 8px;
    color: #FFFFFF;
    border-width: 1px;
    font-size: 12px;
    margin-bottom: 12px;
}
.whitebutton {
    width: 297px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #344054;
    border-color: #D0D5DD;
    border-width: 1px;
    font-size: 12px;
}
.leadmap {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 90vh;
}
.mapinfo {
  text-align: center;
  background-color: white;
  position: absolute;
  top: 60px;
  width: 100%;
}
.searchform {
  position: absolute;
  top: 100px;
  left: 10px;
}

.jotform-iframe {
  width: 80vw;
  height: 50rem;
  margin-left: -10px;
}
