#landingpage {
  margin-top: 60px;
}

#landingoverlay {
  position: absolute;
  height: 100vh;
  background-color: rgba(227, 227, 227, 0.7);
  /* z-index: 1; */
}
.leadmap {
  position: absolute;
  top: 150px;
  width: 100%;
}
.mapinfo {
  text-align: center;
  background-color: white;
  position: absolute;
  top: 60px;
  width: 100%;
}
.searchform {
  position: absolute;
  top: 100px;
  left: 10px;
}

.jotform-iframe {
  width: 80vw;
  height: 50rem;
  margin-left: -10px;
}
