.leaflet-container {
  width: 100%;
  height: 95vh;
}

.address {
  color: #101828;
}

.header {
  font-size: 16px;
  color: #1b1b1b;
}

#square {
  position: relative;
  bottom: 2px;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  width: 220px;
}
.bluebutton-m {
  width: 220px;
  height: 30px;
  background-color: #005ea2;
  border-radius: 8px;
  color: #ffffff;
  border-width: 1px;
  font-size: 12px;
}
.whitebutton-m {
  align-items: center;
  width: 220px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #344054;
  border-color: #d0d5dd;
  border-width: 1px;
  font-size: 12px;
}

.assumed-nonlead {
  filter: invert(36%) sepia(7%) saturate(2972%) hue-rotate(138deg)
    brightness(103%) contrast(87%);
}

.unlikely-lead {
  filter: invert(81%) sepia(27%) saturate(216%) hue-rotate(138deg)
    brightness(84%) contrast(89%);
}

.maybe-lead {
  filter: invert(43%) sepia(19%) saturate(4607%) hue-rotate(350deg)
    brightness(88%) contrast(83%);
}

.likely-lead {
  filter: invert(100%) sepia(59%) saturate(5209%) hue-rotate(296deg)
    brightness(101%) contrast(82%);
}
.assumed-lead {
  filter: invert(85%) sepia(92%) saturate(1668%) hue-rotate(356deg)
    brightness(105%) contrast(103%);
}
